/*******************************************************************/
/* TP3 programmation III (catalogue de produits)                   */
/* @auteur Louis Cyr                                               */
/*******************************************************************/
body 
{
	font-family: Arial, Times, sans-serif;
}

main
{
	width: 1280px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	background-color: #D8E1EA;
	/*****************************************/
	/* overflow:hidden;                      */
	/*                                       */
	/* TRÈS IMPORTANT POUR QUE LA COULEUR SE */
	/* DISTRIBUE ADÉQUATEMENT DANS LE        */
	/* MAIN                                  */
	/*****************************************/
	overflow:hidden; 				
}

main > header
{
	padding-top: 15px;
}

/* logo */
main > header > .logo
{
	margin-left: 30px;
	float: left;
}

/* divers titres */
h2,h3,h4
{
	margin-left: 10px;
}

h2
{
	color: #29ABE2;
}

/* pour chacun des labels */
label 
{
	font-weight: bold;
	font-size: 14px;
}

/* la fameuse image de couleur assortie à la page, pour l'attente AJAX */
.imageAttente
{
	margin-left: 10px;
	display: none;
}

/* la définition du champ concernant les erreurs */
.erreur
{
	margin-left: 10px;
	color: red;
	font-weight: bold;
}

/* la définition du champ concernant le champ de confirmation de commande */
.confirmation
{
	margin-left: 10px;
	color: green;
	font-weight: bold;
}

/**************************/
/* ELÉMENTS DE NAVIGATION */
/**************************/
li 
{
	min-width: 150px;
	float: left;
}

li a 
{
	color: white;
}

nav ul li a 
{
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	text-decoration: none;
}

nav > ul 
{
	width: 1030px;
	padding-left: 30px;
	padding-right: 30px;
	float: left;
	list-style: none;
	background: #29ABE2;
}

nav > ul > li 
{
	background: #29ABE2;
    border-left: 10px solid #29ABE2;
	-webkit-transition: background 1s ease;
	transition: background 800ms ease;
}

nav > ul > li:hover 
{
	background: #1A8DBE;
    border-left: 10px solid yellow;
	-webkit-transition: background 1s ease;
	transition: all 800ms ease;
}

nav > ul > li > ul 
{
	display: none;
}

nav > ul > li:hover > ul 
{
	display: block;
	font-weight: normal;
	padding: 0px;
	position: absolute;
}

nav > ul > li > ul > li  
{
	float: none;
	display: block;
	border-left: none;
	position: relative;
	background: #29ABE2;
	-webkit-transition: background 1s ease;
	transition: background 800ms ease;
}

nav > ul > li > ul > li:hover 
{
	background: #1A8DBE;
	-webkit-transition: background 1s ease;
	transition: background 800ms ease;
}

/**********************************/
/* ÉLÉMENTS UTILISATEUR ET PANIER */
/**********************************/
#utilisateur
{
	clear: both;
	float: left;
	margin-left: 1000px;
	padding: 0px;
}

#partieUsager
{
	float: left;
	margin-left: 10px;
	margin-right: 40px;
}

#partiePanier
{
	float: left;
}

#usager
{
	margin-left: 30px;
	float: left;
}

#panier
{
	float: left;
}

#visualiserListeCommande
{
	clear: both;
	float: left;
}

#gestionPanier
{
	clear: both;
	float: left;
	margin-left: 10px;
}

/****************************************************/
/* ZONE CONCERNANT LES ÉLÉMENTS DYNAMIQUE DES PAGES */
/****************************************************/

/* pour chacun des formulaires */
.formulaire
{
	clear: both;
	float: left;
}

/* enveloppe des éléments dynamiques la page index */
#enveloppe > article
{
	clear: both;
	float: left;
	width: 1200px;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 20px;
	background-color: white;
}

/* enveloppe de la page gestionPanier */
#enveloppePanier > article
{
	clear: both;
	float: left;
	width: 1200px;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
}

/* Éléments de navigation de pages et filtres */
.navigationPage ul 
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	float: left;
	list-style: none;
}

.navigationPage ul li 
{
	min-width: 1px;
	float: left;
}

.navigationPage ul li a 
{
	display: block;
	padding-left: 10px;
	font-size: 14px;
	color: black;
}

/* Éléments dynamiques sur la sélection par page */
label#selPage 
{
	margin-left: 30px;
}

.resultatPages
{
	min-width: 1px;
	float: left;
}

/* Définition des champs du catalogue par défaut */
.nom
{
	color: #29ABE2;
	font-weight: bold;
}

.description
{
	font-weight: bold;
}

.prix-valeur
{
	font-size: 20px;
	font-weight: bold;
}

.prix-unite
{
	font-size: 20px;
	font-weight: bold;
}

.prixPanier
{
	font-size: 20px;
	font-weight: bold;
}

.categorie
{
	font-weight: bold;
}

.selQuantite
{
	font-size: 18px;
	font-weight: bold;
}

.quantite
{
	font-size: 20px;
	font-weight: bold;
}

/*********************************/
/* DÉFINITION POUR DES VIGNETTES */
/*********************************/
.vignette
{
	float: left;
	width: 280px;
	height: 350px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.vignette .image > img
{
	height: 80%;
	width: 80%;
}

.vignette .prix-unite
{
	margin-left: 5px;
}

/******************************/
/* DÉFINITION POUR DES LISTES */
/******************************/
.liste
{
	float: left;
	width: 1180px;
	height: 150px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.liste .nom
{
	float: left;
	margin-top: 105px;
	width: 300px;
}

.liste .image > img
{
	float: left;
	height: 10%;
	width: 10%;
}

.liste .description
{
	float: left;
	margin-left: 10px;
	margin-top: 105px;
	width: 430px;
}

.liste .prix-valeur
{
	float: left;
	margin-top: 98px;
	width: 90px;
}

.liste .prix-unite
{
	float: left;
	margin-top: 98px;
	margin-left: 5px;
	width: 50px;
}

.liste .prixPanier
{
	float: left;
	margin-top: 98px;
	margin-left: 5px;
}

.liste .categorie
{
	float: left;
	margin-top: 105px;
	margin-left: 20px;
	width: 150px;
}

.liste .selQuantite
{
	float: left;
	margin-top: 95px;
	margin-left: 10px;
}

.liste .quantite
{
	float: left;
	margin-top: 98px;
	margin-left: 5px;
}

.liste .btnAjouterPanier
{
	margin-left: 20px;
}

/**********************************/
/* CONCERNE LA PAGE gestionPanier */
/**********************************/
.sousTotal
{
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 428px;
}

.btnSuprimer
{
	float: left;
	margin-top: 98px;
	margin-left: 5px;
}

/**************************************************/
/* CONCERNE LA POSITION DES ÉLÉMENTS DANS LA PAGE */
/**************************************************/
.passerCommande,
.continuerAMagasiner,
.confirmerCommande,
.retournerAuPanier,
.viderPanier,
.afficherNbPages,
.emaCourriel,
.txtAdresse,
.listeCommande,
.details
{
	margin-left: 10px;
}

.listeCommande
{
	font-weight: bold;
}

/****************/
/* PIED DE PAGE */
/****************/
footer   
{
	clear: both;
	float: left;
	width: 1180px;	
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 40px;
	padding: 10px;
	color: white;
	background-color: black;
}