
/*navigation*/

.navbar-default .navbar-collapse, .navbar-form, .navbar-fixed-top {
  background-color:#809060;
  border-color: #809060;
  height: 154px !important;
}

.navbar-default .navbar-nav > li  {
  text-align: center;
}
.navbar-collapse {
  padding: 0px;
}

.navbar-default .navbar-nav > li > a {
  color:#FFFFFF;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 0px 0px;
  font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #FFFFFF; 
  text-decoration: underline;
}

.navbar-nav {
  float: none;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  }

.titresMenu {
  position:relative;
  top:-50px;
  z-index:1000;
  font-size: 18px;
}

.titresLogin {
  position:relative;
  top:-70px;
  z-index:1000;
  font-size: 14px;
}

.navbar-default .navbar-nav .active a{
  background-color:#304716;
  height: 154px;
  color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color:#304716;
  height: 154px;
  color: #FFFFFF;
}

@media (max-width: 767px) {

.navbar-collapse, .navbar-nav{
  padding: 0px;
  margin: 0px;
  background-color:#304716;
}

.titresMenu {
  font-size: 18px;
  line-height: 40px;
  top:0px;
}

.titresLogin {
  font-size: 14px;
  line-height: 40px;
  top:0px;
}

 .navbar-fixed-top {
  background-color:#304716;
  height: 60px;
}

.navbar-default .navbar-nav .active a {
  height: auto;
  background-color: #809060;
}

.navbar-default .navbar-nav .active a:hover {
  height: auto;
  background-color: #809060;
}

}



/*------main---------------*/

body {
  padding-top: 180px;
  background-color: #e1e6cd;
}

.container {
  max-width: 960px;
}

.main {
  background-color: #e1e6cd;
  max-width: 960px;
  height: 100%;
}

/*------formulaires---------------*/



/*------paragraph---------------*/



/*------formulaire login---------------*/



/*------footer---------------*/

#footer{
  background-color:#809060;
  position:fixed;
  bottom:0px;
  width:100%;
  height: 60px;
}

.text-muted{
  margin-right: 10px;
  color:#FFFFFF;
}

#wrap > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}


#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}


