/*Flora Kasyan 9 decembre 2013*/
/*CSS stylesheet*/
/* -------------------------------- */



/*------main---------------*/

.row{
   background-image: url(../images/bg6.jpg);
   background-repeat: no-repeat;
   margin-top:0px;  
}

.imgnature > img{
   width:100%;
   margin-left:10px;
   margin-right:10px;
}

.imgnature2 > img{
   width:100%;
   margin-left:20px;
   margin-right:10px;
}

a{
  color:#000000;
}
a:hover{
  color:#000000;
}

/*------formulaires---------------*/

/*------paragraph---------------*/
.para{
	/*background-color:#82A826;*/
	background-color:#556B2F;
	border-radius: 15px;
	margin-left:20px;
	margin-bottom:20px;
	padding-bottom:20px;
}

.para > h3{
	color:#686868;
	color:#FFFFFF;
}

.para > p{
	color:#FFFFFF;
}


/*------gros titres (headings)---------------*/

.grostitres{
  clear: both;
  background-color:#6E6E6E;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.grostitres > p{
  color:#FFFFFF;
  font-size: 20px;
}

/*------formulaire acceuil---------------*/

.frm_general{
	height:100%;
	margin-left: 20%;
	margin-right:20px;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom:150px;
	background-color:rgba(255,255,255,0.8);
}

/*------formulaire login---------------*/

.formlogin{
  margin-left:7%;
  margin-bottom: 20px;
  margin-top: 30px;
  padding-bottom: 20px; 
}

.formlogin2{
  margin-left:0%;
  margin-bottom: 20px;
  margin-top: 30px;
  padding-bottom: 20px; 
}

.message {
	padding-top:30px;
}

.message > p{
	background-color:#6E6E6E;
	color:#FFFFFF;
	width:70%;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
}

/*------boutons---------------*/
.btn-primary {
	background-color:#82A826;
	border-color:#82A826;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
 .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color:#82A826;
    border-color:#82A826;
    color: #FFFFFF;
}


/*-----------------------*/
.frm_profile{
	margin-left: 25%;
	margin-right:50px;
	margin-bottom:0px;
	padding-top:30px;
	padding-bottom:0px;
	background-color:rgba(255,255,255,0.8);	
}

.profile{
	margin-left: 25%;
	margin-right:50px;
	margin-bottom:0px;
	padding-top:30px;
	padding-bottom:50px;
	background-color:#6E6E6E;
	border-radius: 15px;
}

.profile > p{
	margin-left:5px;
	color:#FFFFFF;
	font-weight:bold;
}

.frm_inscription{
	margin-left: 25%;
	margin-right:20px;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom:150px;
	background-color:rgba(255,255,255,0.8);
}

.frm_adresse{
	margin-left: 25%;
	margin-right:20px;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom:150px;
	background-color:rgba(255,255,255,0.8);
}

.adresse{
	background-color:#556B2F;
	border-radius: 15px;
	margin-left:80px;
	margin-bottom:20px;
	padding-bottom:20px;
	padding-left:40px;
}

.adresse > h3{
	color:#686868;
	color:#FFFFFF;
}

.adresse > p{
	margin-left:0px;
	display:block;
	color:#FFFFFF;
}

.telephone{
  background-color:#6E6E6E;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right:60px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.telephone >p{
	color:#FFFFFF;
	font-size: 20px;
	margin-left:20px;
}

.pwoublie{
  margin-left:100px;
  margin-top:20px;
}

/*footer navigation */

@media (max-width: 1024px){
  .formulaire_inscription, .formulaire_login{
    margin-left: 0;
  }
}
